{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% include 'dashboard_templates/helper/dashboard_header.html' %}
	<body>
		<div class="page">
			<!-- modal -->
			{% include 'dashboard_templates/helper/dashboard_navbar.html' %}

				<div class="container">
					<!-- body -->

					<div class="dash">
						<div class="dash__box">
							<div class="dash__nav">
                                <div class="dash__btn">
                                    <span>Настройки</span>
                                    <div class="dash__triangle"></div>
                                </div>
                                <div class="dash__nav__box">
                                    <div class="dash__nav__item" data-nav="personal">
                                        <a href="{% url 'profile_user_info' %}"> Личные данные </a>
                                    </div>
                                    <div class="dash__nav__item active" data-nav="password">
                                       
                                        <a href="{% url 'change_password' %}"> Изменить пароль </a>
                                    </div>
                                    <div class="dash__nav__item" data-nav="language">
                                        <a href="{% url 'language_set' %}"> Смена языка </a>
                                    </div>
                                    <div class="dash__nav__item" data-nav="phone"> 
                                        <a href="{% url 'change_email' %}"> Изменить e-mail </a>
                                    </div>
                                </div>
                            </div>
							<div class="dash__main">				
                                
								
								<!-- password change -->
                                
								<div class="dash__item--password active">
                                    <form class="form" method='POST'>
                                        {% csrf_token %}
                                        {% comment %} {{ form.as_p }} {% endcomment %}
                                        
                                        <!-- input -->
                                        <div class="input__wrapper">
                                            <p class="input__label">Старый пароль</p>
                                            <div class="input__box">
                                                <input class="input" type="text" name='old_password' />
                                                <img
                                                class="input__cancel"
                                                src="{% static 'dashboard/assets/img/cancel.png' %}"
                                                alt=""
                                                />
                                            </div>
                                        </div>
                                        <!-- input -->
                                        <div class="input__wrapper">
                                            <p class="input__label">Новый пароль</p>
                                            <div class="input__box">
                                                <input class="input" type="text" name='new_password1'/>
                                                <img
                                                class="input__cancel"
                                                src="{% static 'dashboard/assets/img/cancel.png' %}"
                                                alt=""
                                                />
                                            </div>
                                        </div>
                                        <!-- input -->
                                        <div class="input__wrapper">
                                            <p class="input__label">Введите снова новый пароль</p>
                                            <div class="input__box">
                                                <input class="input" type="text" name='new_password2' />
                                                <img
                                                class="input__cancel"
                                                src="{% static 'dashboard/assets/img/cancel.png' %}"
                                                alt=""
                                                />
                                            </div>
                                        </div>
                                        <div class="form__footer">
                                            <a class="btn btn--gray" href="{% url 'change_password' %}">Отмена</a>
                                            <button class="btn" type='submit'>Сохранить</button>
                                        </div>
                                    </form>
                                </div>
							
{% include 'dashboard_templates/helper/dashboard_footer.html' %}