{% load static %}

<!DOCTYPE html>
<html lang="en">
	{% include 'dashboard_templates/helper/dashboard_header.html' %}
	<title>Asosiy sahifa</title>
	<body>
		<div class="page">
			<!-- modal -->
			<!-- modal -->
			{% include 'dashboard_templates/helper/dashboard_navbar.html' %}

				<div class="container">
					<!-- body -->

					<div class="items">
						<div class="item__wrapper">
							<a href="{% url 'profile_user_info' %}" class="item item--info">
								<div class="item__left">
									{% if profile_info.image %}
										<div class="item__photo">
											<img src="{{ profile_info.image.url }}" alt="" />
										</div>
									{% else %}
										<div class="item__photo">
											<img src="{% static 'dashboard/assets/img/avatar-filled.png' %}" alt="" />
										</div>
									{% endif %}
									<span class="item__link">Изменить</span>
								</div>
								<div class="item__right">
									{% if profile_info %}
										<div class="item__fish">{{ profile_info.ism }} {{ profile_info.familya }}</div>
									{% endif %}
									<div class="item__mail">
										E-mail:
										<span>{{ user.email }}</span>
									</div>
								</div>
							</a>
						</div>
						<div class="item__wrapper">
							<a href="#" class="item">
								<div class="item__icon">
									<i class="bx bx-book-open"></i>
								</div>
								<div class="item__content">
									<b>15</b>
									<span>Enrolled Courses</span>
								</div>
							</a>
						</div>
						<div class="item__wrapper">
							<a href="#" class="item">
								<div class="item__icon">
									<i class="bx bx-slideshow"></i>
								</div>
								<div class="item__content">
									<b>0</b>
									<span>Active Courses</span>
								</div>
							</a>
						</div>
						<div class="item__wrapper">
							<a href="#" class="item">
								<div class="item__icon">
									<i class="bx bx-check-circle"></i>
								</div>
								<div class="item__content">
									<b>18</b>
									<span>Completed Courses</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</main>
		</div>

		<!-- scripts -->
		<!-- CDN jquery -->
		{% include 'dashboard_templates/helper/dashboard_footer.html' %}
	</body>
</html>
