{% load static %}

<!DOCTYPE html>
<html lang="en">
	{% include 'dashboard_templates/helper/dashboard_header.html' %}
	<title>Course info</title>
	<body>
		<div class="page">
			<!-- modal -->
			<!-- modal -->
			{% include 'dashboard_templates/helper/dashboard_navbar.html' %}

				<div class="container">
					<!-- body -->

					<!-- course info -->
					<div class="info">
						<div class="info__photo__wrapper">
							<div class="info__photo">
								<img
									src="{{ description.image.url }}"
									alt=""
								/>
							</div>
						</div>
						<div class="info__content">
							<h1>{{ description.title }}</h1>
							<p>{{ description.subtitle }}</p>
							<!--
							<a href="videos.html" class="btn">Начать</a>
						-->
						</div>
					</div>

					<!-- tab -->
					<div class="tab">
						
						<div class="tab__head">
							
							{% for i in contents %}
								{% if forloop.counter == 1 %}
									<span class="active" data-tab="tab{{ forloop.counter }}">{{ i.title }}</span>
								{% else %}
									<span data-tab="tab{{ forloop.counter }}">{{ i.title }}</span>
								{% endif %}
							{% endfor %}
						</div>
						{% for b in contents %}
						salom
							{% if forloop.counter == 1%}
								1-content
								<div class="tab__body tab1 active">
									{{ b.content }}
								</div>
							{% else %}
								<div class="tab__body tab2">
									<h2>Что дожно быть</h2>
									
								</div>
							{% endif %}
						{% endfor %}
						
					</div>
					<div class="moduls">
						{% for mdl in models %}
							<div class="moduls__item">
								<div class="moduls__box">
									<div class="moduls__header">
										<h1>{{ mdl.title }}</h1>
										<!--<div class="moduls__progress" data-progress="34">
											<span></span>
										</div> 
									-->
									</div>
									<a href="{% url 'inside_model' pk=mdl.id %}" target="_blank">{{ mdl.status }}</a>
								</div>
							</div>
						{% endfor %}
					
					</div>
				</div>
			</main>
		</div>

		<!-- scripts -->
		<!-- CDN jquery -->
		{% include 'dashboard_templates/helper/dashboard_footer.html' %}
	</body>
</html>
